In [50]:
import pandas as pd

In [71]:
def reviseDiffCourse(x):
    if x>180:
        x -= 360
    elif x<-180:
        x += 360
    return x

In [76]:
def load_data():
    data = pd.read_csv('/mnt/data/zhou-x/ais_csv_rev/9333242.csv')
    ## Cleaning the data 
    data.drop(data[(data['pos_course']=='None')|(data['pos_speed']=='None')].index,inplace=True)
    data.drop(data[(data['pos_navState']!='1')&(data['pos_navState']!='0')&(data['pos_navState']!='5')&(data['pos_navState']!='None')].index,inplace=True)
    data.reset_index(inplace = True)
    ndata = pd.DataFrame()
    ndata[['speed','course','navState']]=data[['pos_speed','pos_course','pos_navState']].apply(lambda x: list(map(float,x)))
    
    ## calculation
    ndata['diff1_course'] = ndata['course'].diff(1).apply(reviseDiffCourse)
    
    return ndata

In [77]:
ldata=load_data()

/home/zhou-x/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [79]:
ldata

        speed  course  navState  diff1_course
0        13.0   314.0       0.0           NaN
1        12.3   309.0       0.0          -5.0
2        12.4   308.0       0.0          -1.0
3        12.9   328.0       0.0          20.0
4        12.8   306.0       0.0         -22.0
5        12.7   294.0       0.0         -12.0
6        12.7   295.0       0.0           1.0
7        13.2   295.0       0.0           0.0
8        13.1   295.0       0.0           0.0
9        13.2   296.0       0.0           1.0
10       13.2   296.0       0.0           0.0
11       13.4   305.0       0.0           9.0
12       13.5   305.0       0.0           0.0
13       13.1   289.0       0.0         -16.0
14       13.3     0.0       0.0          71.0
15       13.3   359.0       0.0          -1.0
16       13.2   359.0       0.0           0.0
17       13.2   359.0       0.0           0.0
18       13.1     0.0       0.0           1.0
19       13.1     6.0       0.0           6.0
20       13.5   318.0       0.0         -48.0
21       13.7   318.0       0.0           0.0
22       13.1   319.0       0.0           1.0
23       12.8   306.0       0.0         -13.0
24       12.8   307.0       0.0           1.0
25       12.8   307.0       0.0           0.0
26       13.2   287.0       0.0         -20.0
27       13.6   257.0       0.0         -30.0
28       14.3   234.0       0.0         -23.0
29        7.0   267.0       0.0          33.0
...       ...     ...       ...           ...
155744   14.7   276.0       0.0           1.0
155745   14.8   274.0       0.0          -2.0
155746   14.9   274.0       0.0           0.0
155747   14.7   275.0       0.0           1.0
155748   14.8   275.0       0.0           0.0
155749   14.3   275.0       0.0           0.0
155750   14.4   275.0       0.0           0.0
155751   14.4   275.0       0.0           0.0
155752   14.5   276.0       0.0           1.0
155753   14.7   274.0       0.0          -2.0
155754   14.7   274.0       0.0           0.0
155755   14.5   275.0       0.0           1.0
155756   15.0   275.0       0.0           0.0
155757   14.9   275.0       0.0           0.0
155758   15.1   275.0       0.0           0.0
155759   15.1   274.0       0.0          -1.0
155760   15.0   276.0       0.0           2.0
155761   15.0   276.0       0.0           0.0
155762   15.1   275.0       0.0          -1.0
155763   15.1   275.0       0.0           0.0
155764   15.0   275.0       0.0           0.0
155765   15.0   276.0       0.0           1.0
155766   15.0   276.0       0.0           0.0
155767   15.3   274.0       0.0          -2.0
155768   15.4   275.0       0.0           1.0
155769   15.5   274.0       0.0          -1.0
155770   15.4   275.0       0.0           1.0
155771   15.2   275.0       0.0           0.0
155772   15.4   277.0       0.0           2.0
155773   15.4   277.0       0.0           0.0

[155774 rows x 4 columns]

In [78]:
ldata['course'].diff(1).apply(reviseDiffCourse)

0          NaN
1         -5.0
2         -1.0
3         20.0
4        -22.0
5        -12.0
6          1.0
7          0.0
8          0.0
9          1.0
10         0.0
11         9.0
12         0.0
13       -16.0
14        71.0
15        -1.0
16         0.0
17         0.0
18         1.0
19         6.0
20       -48.0
21         0.0
22         1.0
23       -13.0
24         1.0
25         0.0
26       -20.0
27       -30.0
28       -23.0
29        33.0
          ...
155744     1.0
155745    -2.0
155746     0.0
155747     1.0
155748     0.0
155749     0.0
155750     0.0
155751     0.0
155752     1.0
155753    -2.0
155754     0.0
155755     1.0
155756     0.0
155757     0.0
155758     0.0
155759    -1.0
155760     2.0
155761     0.0
155762    -1.0
155763     0.0
155764     0.0
155765     1.0
155766     0.0
155767    -2.0
155768     1.0
155769    -1.0
155770     1.0
155771     0.0
155772     2.0
155773     0.0
Name: course, Length: 155774, dtype: float64

In [75]:
ldata['course'].diff(1)

0           NaN
1          -5.0
2          -1.0
3          20.0
4         -22.0
5         -12.0
6           1.0
7           0.0
8           0.0
9           1.0
10          0.0
11          9.0
12          0.0
13        -16.0
14       -289.0
15        359.0
16          0.0
17          0.0
18       -359.0
19          6.0
20        312.0
21          0.0
22          1.0
23        -13.0
24          1.0
25          0.0
26        -20.0
27        -30.0
28        -23.0
29         33.0
          ...
155744      1.0
155745     -2.0
155746      0.0
155747      1.0
155748      0.0
155749      0.0
155750      0.0
155751      0.0
155752      1.0
155753     -2.0
155754      0.0
155755      1.0
155756      0.0
155757      0.0
155758      0.0
155759     -1.0
155760      2.0
155761      0.0
155762     -1.0
155763      0.0
155764      0.0
155765      1.0
155766      0.0
155767     -2.0
155768      1.0
155769     -1.0
155770      1.0
155771      0.0
155772      2.0
155773      0.0
Name: course, Length: 155774, dtype: float64

In [67]:
ldata.loc[1:20,['speed','course']].values

array([[ 12.3, 309. ],
       [ 12.4, 308. ],
       [ 12.9, 328. ],
       [ 12.8, 306. ],
       [ 12.7, 294. ],
       [ 12.7, 295. ],
       [ 13.2, 295. ],
       [ 13.1, 295. ],
       [ 13.2, 296. ],
       [ 13.2, 296. ],
       [ 13.4, 305. ],
       [ 13.5, 305. ],
       [ 13.1, 289. ],
       [ 13.3,   0. ],
       [ 13.3, 359. ],
       [ 13.2, 359. ],
       [ 13.2, 359. ],
       [ 13.1,   0. ],
       [ 13.1,   6. ],
       [ 13.5, 318. ]])

In [15]:
ldata[(ldata['pos_navState']!='1')&(ldata['pos_navState']!='0')&(ldata['pos_navState']!='5')].index

Int64Index([     0,   1317,   1351,   1367,   1379,   1380,   1394,   1395,
              1471,   1506,
            ...
            154620, 154713, 154719, 154729, 155775, 157837, 157847, 158305,
            158315, 158320],
           dtype='int64', length=2771)

In [21]:
ldata.drop(ldata[(ldata['pos_course']=='None')|(ldata['pos_speed']=='None')].index,inplace=True)

/home/zhou-x/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [39]:
ndata = pd.DataFrame()

In [40]:
ndata[['speed','course','navState']]=ldata[['pos_speed','pos_course']].apply(lambda x: list(map(float,x)))

In [42]:
ndata

        pos_speed  pos_course
1            13.0       314.0
2            12.3       309.0
3            12.4       308.0
4            12.9       328.0
5            12.8       306.0
6            12.7       294.0
7            12.7       295.0
8            13.2       295.0
9            13.1       295.0
10           13.2       296.0
11           13.2       296.0
12           13.4       305.0
13           13.5       305.0
14           13.1       289.0
15           13.3         0.0
16           13.3       359.0
17           13.2       359.0
18           13.2       359.0
19           13.1         0.0
20           13.1         6.0
21           13.5       318.0
22           13.7       318.0
23           13.1       319.0
24           12.8       306.0
25           12.8       307.0
26           12.8       307.0
27           13.2       287.0
28           13.6       257.0
29           14.3       234.0
30            7.0       267.0
...           ...         ...
158515       14.7       276.0
158516       14.8       274.0
158517       14.9       274.0
158518       14.7       275.0
158519       14.8       275.0
158520       14.3       275.0
158521       14.4       275.0
158522       14.4       275.0
158523       14.5       276.0
158524       14.7       274.0
158525       14.7       274.0
158526       14.5       275.0
158527       15.0       275.0
158528       14.9       275.0
158529       15.1       275.0
158530       15.1       274.0
158531       15.0       276.0
158532       15.0       276.0
158533       15.1       275.0
158534       15.1       275.0
158535       15.0       275.0
158536       15.0       276.0
158537       15.0       276.0
158538       15.3       274.0
158539       15.4       275.0
158540       15.5       274.0
158541       15.4       275.0
158542       15.2       275.0
158543       15.4       277.0
158544       15.4       277.0

[157611 rows x 2 columns]

In [32]:
type(ldata.iloc[0]['pos_speed'])

numpy.float64

In [4]:
def convert_data(data):
    new_data = pd.DataFrame()